@font-face {
  font-family: "Moonhouse-Regular";
  src: url("/fonts/moonhouse-webfont.woff") format("woff");
  src: url("/fonts/moonhouse-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Coolvetica-Regular";
  src: url("/fonts/coolvetica-rg.ttf") format("truetype");
  font-weight: 500;
}

/* === GOTHAM FAMILY === */

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-Black.woff2") format("woff2"),
    url("Gotham-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-Thin.woff2") format("woff2"),
    url("/fonts/Gotham/Gotham-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-ThinItalic.woff2") format("woff2"),
    url("/fonts/Gotham/Gotham-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-BookItalic.woff2") format("woff2"),
    url("/fonts/Gotham/Gotham-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-Light.woff2") format("woff2"),
    url("/fonts/Gotham/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-BoldItalic.woff2") format("woff2"),
    url("/fonts/Gotham/Gotham-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-Medium.woff2") format("woff2"),
    url("/fonts/Gotham/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-UltraItalic.woff2") format("woff2"),
    url("/fonts/Gotham/Gotham-UltraItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-LightItalic.woff2") format("woff2"),
    url("/fonts/Gotham/Gotham-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-Book.woff2") format("woff2"),
    url("/fonts/Gotham/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-Bold.woff2") format("woff2"),
    url("/fonts/Gotham/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
